/* Chrome, Safari, Edge, Opera */
#zipcode_input::-webkit-outer-spin-button,
#zipcode_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#zipcode_input {
  -moz-appearance: textfield;
}